# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [1]:
# Your code here

print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [2]:
# Your code here

user_input = input("Enter something: ")
print(user_input)

Enter something: Gertrude
Gertrude

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [3]:
# Your code here
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0
The number is zero.

**Question 4:** Write a Python program to find the largest of three numbers.

In [4]:
# Your code here

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c

print("The largest number is", largest)

Enter first number: 20
Enter second number: 43
Enter third number: 10
The largest number is 43.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [14]:
# Your code here

number = int(input("Enter a number: "))

factorial = 1

for a in range(1, number + 1):
    factorial *= a

print("The factorial of", number, "is", factorial)

Enter a number: 5
The factorial of 5 is 120

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [16]:
# Your code here

age = 29
height = 6.2
name = "Simeon"
is_student = True

print("Age:", age, type(age))
print("Height:", height, type(height))
print("Name:", name, type(name))
print("Is student:", is_student, type(is_student))

Age: 29 <class 'int'>
Height: 6.2 <class 'float'>
Name: Simeon <class 'str'>
Is student: True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [17]:
# Your code here

a = 5
b = 10

print("Before swapping: a =", a, "b =", b)

a, b = b, a

print("After swapping: a =", a, "b =", b)

Before swapping: a = 5 b = 10
After swapping: a = 10 b = 5

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [18]:
# Your code here

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(celsius, "degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit")

Enter temperature in Celsius: 6
6.0 degrees Celsius is equal to 42.8 degrees Fahrenheit

**Question 9:** Write a Python program to concatenate two strings.

In [21]:
# Your code here

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

full_name = first_name + " " + last_name

print("Your full name is", full_name)

Enter your first name: Simeon
Enter your last name: Ugwu
Your full name is Simeon Ugwu

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [23]:
# Your code here

a = 10
b = 5.6
c = "Hello"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [24]:
# Your code here

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 2
Enter second number: 5.3
Addition: 7.3
Subtraction: -3.3
Multiplication: 10.6
Division: 0.37735849056603776

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [25]:
# Your code here

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Equal to:", a == b)
print("Not equal to:", a != b)
print("greater than:", a>b)
print("less than:", a<b)

Enter first number: 5
Enter second number: 10
Equal to: False
Not equal to: True
greater than: False
less than: True

In [27]:
a=5
b=10

print("a==b:", a==b)
print("a!=b:", a!=b)
print("a>b:", a>b)
print("a<b:", a<b)

a==b: False
a!=b: True
a>b: False
a<b: True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [32]:
# Your code here

a = False
b = True

print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

a and b: False
a or b: True
not a: True

**Question 14:** Write a Python program to calculate the square of a number.

In [36]:
# Your code here

number = float(input("Enter a number: "))

square = number ** 2

print("The square of", number, "is", square)

Enter a number: 100
The square of 100.0 is 10000.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [37]:
# Your code here

number = int(input("Enter a number: "))

if number % 2 == 0:
    print(number, "is even")
else:
    print(number, "is odd")

Enter a number: 7
7 is odd

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [38]:
# Your code here

n = int(input("Enter a number: "))

sum = 0

for i in range(1, n + 1):
    sum += i

print("The sum of the first", n, "natural numbers is", sum)

Enter a number: 5
The sum of the first 5 natural numbers is 15

**Question 17:** Write a Python program to check if a year is a leap year.

In [42]:
# Your code here

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2002
2002 is not a leap year

**Question 18:** Write a Python program to reverse a string.

In [43]:
# Your code here

string = input("Enter a string: ")

reversed_string = string[::-1]

print("The reversed string is", reversed_string)

Enter a string: Hello Simeon
The reversed string is noemiS olleH

**Question 19:** Write a Python program to check if a string is a palindrome.

In [47]:
# Your code here

string = input("Enter a string: ")

if string == string[::-1]:
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

Enter a string: level
level is a palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [48]:
# Your code here

numbers = [5, 2, 9, 1, 7]

numbers.sort()

print("The sorted list is", numbers)

The sorted list is [1, 2, 5, 7, 9]