<a href="https://colab.research.google.com/github/ugwusimeon2/Python-class/blob/main/list_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [4]:
## Create a list of the first 20 positive integers. Print the list.

My_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(My_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
## Print the first, middle, and last elements of the list created in Assignment 1.

print(My_list[0])
print(My_list[9])
print(My_list[19])

1
10
20

In [5]:
## Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

print(My_list[:5])
print(My_list[15:])
print(My_list[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [6]:
## Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
## Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

Even_numbers = [x for x in My_list if x % 2 == 0]

print(Even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
## Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

numbers = [5, 3, 8, 5, 2, 8, 1, 9, 3, 4, 4, 6, 7, 6, 10, 7]
print("Original list:", numbers)

numbers.sort()
print("Ascending order:", numbers)

numbers.sort(reverse=True)
print("Descending order:", numbers)

numbers = list(set(numbers))
print("List without duplicates:", numbers)

Original list: [5, 3, 8, 5, 2, 8, 1, 9, 3, 4, 4, 6, 7, 6, 10, 7]
Ascending order: [1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 10]
Descending order: [10, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1]
List without duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
## Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

Matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(Matrix)
for t in Matrix:
    print(t)
print(Matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

In [16]:
## Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

students = [{"name": "Alice", "score": 85},{"name": "Bob", "score": 92},{"name": "Charlie", "score": 78}]
sorted_students = sorted(students, key=lambda x: x["score"], reverse=True)
print(sorted_students)

[{'name': 'Bob', 'score': 92}, {'name': 'Alice', 'score': 85}, {'name': 'Charlie', 'score': 78}]

In [18]:
## Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

def transpose_matrix(matrix):
    # Transpose using zip
    transpose = [list(row) for row in zip(*matrix)]
    return transpose

# Example 3x3 matrix
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

# Call the function
transposed = transpose_matrix(matrix)

print("Original Matrix:")
for row in matrix:
    print(row)

print("Transposed Matrix:")
for row in transposed:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [20]:
## Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list
nested = [[1, 2], [3, 4], [5, 6]]
print("Original Nested List:", nested)

flattened = flatten_list(nested)
print("Flattened List:", flattened)

Original Nested List: [[1, 2], [3, 4], [5, 6]]
Flattened List: [1, 2, 3, 4, 5, 6]

In [21]:
## Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

numbers = list(range(1, 11))   # [1,2,3,4,5,6,7,8,9,10]
print("Original List:", numbers)
for index in [6, 4, 2]:
    numbers.pop(index)
numbers.insert(5, 99)
print("Modified List:", numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified List: [1, 2, 4, 6, 8, 99, 9, 10]

In [23]:
## Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 78]
combined = list(zip(names, scores))
print("Combined List:", combined)

Combined List: [('Alice', 85), ('Bob', 90), ('Charlie', 78)]

In [24]:
## Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

def reverse_list(my_list):
    return my_list[::-1]
original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)

print("Original List:", original)
print("Reversed List:", reversed_list)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

In [25]:
## Write a function that rotates a list by n positions. Print the original and rotated lists.

def rotate_list(my_list, n):
    n = n % len(my_list)
    return my_list[n:] + my_list[:n]
original = [1, 2, 3, 4, 5]
print("Original List:", original)

rotated = rotate_list(original, 2)
print("Rotated List:", rotated)

Original List: [1, 2, 3, 4, 5]
Rotated List: [3, 4, 5, 1, 2]

In [26]:
## Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

def intersect_lists(list1, list2):
    return [item for item in list1 if item in list2]
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]
intersected = intersect_lists(a, b)

print("List 1:", a)
print("List 2:", b)
print("Intersected List:", intersected)

List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7, 8]
Intersected List: [4, 5]