<a href="https://colab.research.google.com/github/ugwusimeon2/Python-class/blob/main/tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
## Create a tuple with the first 10 positive integers. Print the tuple.

My_tuple = (1,2,3,4,5,6,7,8,9,10)
print(My_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
## Print the first, middle, and last elements of the tuple created in Assignment 1.

print(My_tuple[0])
print(My_tuple[4])
print(My_tuple[9])

1
5
10

In [ ]:
## Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(My_tuple[:3])
print(My_tuple[7:10])
print(My_tuple[2:6])
print(My_tuple[7:])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)
(8, 9, 10)

In [ ]:
## Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = ((1,2,3),(4,5,6),(7,8,9))
print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [ ]:
## Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2

print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
## Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

Tuple = (1,2,3,3,4,5,6,6,7,8,9,10,3,4,2,5,6,)
print(Tuple.count(2))
print(Tuple.index(2))

2
1

In [ ]:
## Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

Tuple = (1,2,3,4,5)
a,b,c,d,e = Tuple
print(a,b,c,d,e)

1 2 3 4 5

In [ ]:
## Convert a list of the first 5 positive integers to a tuple. Print the tuple

List = [1,2,3,4,5]
Tuple = tuple(List)
print(Tuple)

(1, 2, 3, 4, 5)

In [ ]:
## Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

Tuple = ((1,2,3),(4,5,6),(7,8,9))
print(Tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
## Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

Tuple = (1,2,3,4,5)
List = list(Tuple)
List.append(6)
Tuple = tuple(List)
print(Tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
## Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

Tuple = ('h','e','l','l','o')
String = ''.join(Tuple)
print(String)

hello

In [ ]:
## Create a dictionary with tuple keys and integer values. Print the dictionary.

My_dict = {(1,):1,(2,):2,(3,):3,(4,):4,(5,):5}
print(My_dict)

{(1,): 1, (2,): 2, (3,): 3, (4,): 4, (5,): 5}

In [ ]:
## Create a nested tuple and iterate over the elements, printing each element.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

for element in nested_tuple:
    print(element)

(1, 2, 3)
('a', 'b', 'c')
(True, False)

In [ ]:
## Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

My_tuple = (1,2,3,3,4,5,6,6,7,8,9,10,3,4,2,5,6,)
My_set = set(My_tuple)
print(My_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
## Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_max_sum(Tuple):
    min_value = min(Tuple)
    max_value = max(Tuple)
    sum_value = sum(Tuple)
    return min_value, max_value, sum_value